#add-animal{
    margin-top: 10px;
}

.container{
    margin-top: 10px;  
}

.animal-image{
    width: auto;
    height: 150px;
}

.Result{
    display: inline;
    text-align: left;    
}

.animalbtn{
    margin-right: 3px;
    margin-top: 3px;
}

li{
    display:inline-block;
}